.data-table {
  padding: 10px;
}

.data-inner-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  background-color: whitesmoke;
  padding: 7px;
  position: relative;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-weight: normal;
  line-height: 2em;
  cursor: pointer;
}

.data-table td {
  border: 1px solid #eee;
  color: #212121;
  vertical-align: middle;
  padding: 4px 7px;
}

.data-table > table > tbody > tr:nth-child(even) {
  background-color: #f4f4f4;
}

.data-table-caption {
  padding: 15px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.pagination {
  display: flex;
  justify-content: space-around;
}
